@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$lead-font-size: 1.5rem;
$lead-font-weight: 800;
.jumbotron {
    margin: 0 !important;
}

.btn-group {
    border-radius: 10% !important;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.card {
    h2 {
        font-weight: 800;
    }
}

footer {
    .navbar-light .navbar-nav .nav-link {
        color: rgb(41, 121, 196) !important;
    }
}

@import "~bootstrap/scss/bootstrap";
* {
    font-family: 'Lato', sans-serif;
    .navbar {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        font-size: 0.85rem;
        .navbar-text {
            font-weight: bold;
        }
        .nav-link {
            margin-right: 1.5rem;
            font-weight: bold;
        }
    }
    .jumbotron {
        background-image: url('./images/jumbo.jpg');
        background-size: cover;
        height: 45rem;
        color: white;
        font-weight: bold;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.57);
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            text-align: center;
            width: auto;
            h1 {
                font-size: 4rem;
                font-weight: 800;
            }
            .lead {
                border-bottom: white solid 2px;
                padding-bottom: 1.2rem;
                margin-bottom: 1.2rem;
            }
        }
    }
    .btn {
        background-color: white;
        color: rgb(71, 70, 70);
        margin-right: 1.5rem;
        border-radius: 5%;
        font-size: 0.9rem;
        .fab {
            margin-right: 0.5rem;
        }
    }
    .grey {
        background-color: rgb(243, 243, 245);
    }
    .card {
        padding: 4rem 0;
        .row {
            justify-content: space-between;
            width: 90%;
            margin: auto;
        }
        &.white {
            .card-body {
                padding-left: 6rem;
            }
        }
        &.grey {
            .card-body {
                padding-right: 6rem;
            }
        }
    }
    .jumbotron-footer {
        background-image: url('./images/jumbo.jpg');
        background-position: top left;
        height: 15rem;
        color: white;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.57);
        display: flex;
        align-items: center;
        justify-content: center;
        .jumbotron-footer-inner {
            display: flex;
            justify-content: space-around;
            width: 80%;
        }
    }
    footer {
        padding: 2rem 0;
        .navbar {
            background-color: transparent;
        }
        p {
            padding-left: 1.5rem;
            font-size: 0.7rem;
            font-weight: bold;
            color: rgb(0, 0, 0, 0.5);
        }
    }
}